@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Overpass:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    min-height: 100%;
    background-image: url(../images/controllerps4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }

body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

/* Logo and Navigation Elements */

#logo {
  float: left;
  margin-left: 42px;
  margin-top: 40px;
  letter-spacing: 2px;
}

#logo a {
  text-transform: uppercase;
  font-size: 265%;
  color: #edf0f1;
  text-decoration: none;
}

#navigation {
  letter-spacing: 2px;
}

#navigation li {
  float: right;
  list-style: none;
  margin-right: 62px;
  margin-top: 25px;
  font-size: 120%;
}

#navigation a {
  text-transform: uppercase;
  text-decoration:none;
  color: #edf0f1;
}

#logo , #navigation {
  line-height: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.social-info {
  text-align: center;
}

.social-info li {
  display: inline;
}

.social-info i {
  font-size: 250%;
  color:#edf0f1;
  padding: 5%;
}