@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Overpass:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #24252A;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

/* Logo and Navigation Elements */

#logo {
  float: left;
  margin-left: 30px;
  letter-spacing: 2px;
}

#logo a {
  text-transform: uppercase;
  font-size: 110%;
  color: #edf0f1;
  text-decoration: none;
}

#navigation {
  letter-spacing: 2px;
}

#navigation li {
  float: right;
  list-style: none;
  margin-right:30px;
}

#navigation a {
  text-transform: uppercase;
  text-decoration:none;
  color: #edf0f1;
}

#logo , #navigation {
  line-height: 75px;
}

#image-main {
  height: 1000px;
  width: 100%;
  background: url(../images/Gaming-Engines-For-C.png) no-repeat center center ;
  overflow: hidden;
}

#about-us {
  color:#edf0f1;
  font-family: Montserrat, sans-serif;
  float:left;
  margin:10px;
  padding: 10px;
  width: 40%;
}

#about-us h2 {
  text-transform: uppercase;
}

#equipment {
  color:#edf0f1;
  font-family: Montserrat, sans-serif;
  float: right;
  width: 40%;
  margin: 10px;
  padding: 10px;
}

#equipment h2 {
  text-transform: uppercase;
}

footer {
  height: 75px;
}

.social-info {
  text-align: center;
}

.social-info li {
  display: inline;
}

.social-info i {
  font-size: 200%;
  color:#edf0f1;
  margin: 1%;
  padding: 1%;
}
