@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Overpass:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-image: url(../images/controllerps4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Any previous browser autofill information to match page theme color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #24252a;
  -webkit-text-fill-color: #edf0f1;
  box-shadow: 0 0 0px 1000px #24252a inset;
  transition: background-color 5000s ease-in-out 0s;
}


/* Logo and Navigation Elements */

#logo {
  float: left;
  margin-left: 42px;
  margin-top: 20px;
  letter-spacing: 2px;
}

#logo a {
  text-transform: uppercase;
  font-size: 165%;
  color: #edf0f1;
  text-decoration: none;
}

#logo i {
  color: purple;
}

#navigation button {
  width: 170px;
  height: 30px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  background: #24252a;
  color: #edf0f1;
  cursor: pointer;
  transition: 0.3s ease;
  border-style: none;
  float: right;
}

#navigation li {
  float: right;
  list-style: none;
  margin-right: 42px;
}

#navigation a {
  text-transform: uppercase;
  text-decoration: none;
  color: #edf0f1;
}

#navigation button:hover {
  background: #edf0f1;
  color: #24252a;
  font-size: 16px;
}

#logo,
#navigation {
  line-height: 75px;
}

/* About us Content */

#about-us {
  font-family: Montserrat, sans-serif;
  font-size: 110%;
  margin: 45px;
  color: #edf0f1;
  position: absolute;
  top: 150px;
  text-align: left;
  width: 21%;
}

#about-us h2 {
  color: purple;
  text-transform: uppercase;
}

#about-us-provide {
  font-family: Montserrat, sans-serif;
  font-size: 110%;
  margin: 45px;
  color: #edf0f1;
  position: absolute;
  top: 400px;
  text-align: left;
  width: 21%;
}

#about-us-provide h2 {
  color: purple;
  text-transform: uppercase;
}

/* Footer and Social Media links Styling */

footer {
  margin-top: auto;
  background-color: #24252a;
}

footer > p {
  color:#edf0f1;
  position: absolute;
  bottom: 14px;
  left: 15px;
  font-size:75%;
}

.social-info {
  text-align: center;
}

.social-info li {
  display: inline;
}

.social-info i {
  text-align: center;
  font-size: 130%;
  color: #edf0f1;
  letter-spacing: 25px;
  margin: 10px;
}

.social-info i:hover {
  color: purple;
}

/* Styling of the login and Register forms */

.sign-up-form {
  color: #edf0f1;
  width: 400px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 25px;
  padding: 25px;
  position: absolute;
  top: 200px;
  left: 30px;
}

.sign-up-form h2 {
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
}

.sign-up-form h3 {
  font-size: 100%;
  text-align: center;
  margin: 2%;
}

.sign-up-form p {
  font-size: 13px;
  position:relative;
  top: 10px;
  text-align: center;
  margin: 3%;
}

.sign-up-form input {
  position: relative;
  left: 50px;
  color: #edf0f1;
  border-radius: 25px;
  width: 250px;
  height: 35px;
  font-size: 14px;
  letter-spacing: 1px;
  background: transparent;
  margin-top: 15px;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.sign-up-form button {
  position: relative;
  left: 75px;
  top: 25px;
  width: 200px;
  height: 60px;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  background: #24252a;
  color: #edf0f1;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  border-style: none;
  display: inline;
}

.sign-up-form button:hover {
  background: #edf0f1;
  color: #24252a;
  font-size: 21px;
}

.login-form {
  color: #edf0f1;
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 25px;
  padding: 25px;
  position: absolute;
  top: 220px;
  left: 30px;
}

.login-form h2 {
  font-size: 175%;
  text-align: center;
  position: relative;
  top: 10px;
}

.login-form p {
  font-size: 13px;
  text-align: center;
  position: relative;
  top: 50px;
}

.login-form input {
  position: relative;
  left: 50px;
  top: 20px;
  background-color: #24252a;
  color: #edf0f1;
  border-radius: 25px;
  width: 250px;
  height: 35px;
  font-size: 14px;
  letter-spacing: 1px;
  background: transparent;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.login-form button {
  position: relative;
  left: 68px;
  top: 80px;
  width: 200px;
  height: 60px;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  background: #24252a;
  color: #edf0f1;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  border-style: none;
  display: inline-block;
  margin: 2%;
}

.login-form button:hover {
  background: #edf0f1;
  color: #24252a;
  font-size: 21px;
}

.events {
  display: flex;
  justify-content: center;
}

.events-card {
  border-radius: 25px;
  background-color: #24252a;
  height: 360px;
  width: 260px;
  margin: 10px;
}

.events-image {
  background-color: #edf0f1;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
}

.events-card h2 {
  color:#edf0f1;
  text-align: center;
}

.events-card p {
  text-align: center;
}

.events-card-1 {
  background-image: url(..//images/apex-image.jpg);
  background-position: 19%;
  border-radius: 25px;
}

.events-card-2 {
  background-image: url(..//images/league-of-legends.jpg);
  background-position: 50%;
  border-radius: 25px;
}

.events-card-3 {
  background-image: url(..//images/fortnite-image.jpg);
  background-position: 50%;
  border-radius: 25px;
}